<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--Executing the test cases in parallel with max thread count of 3-->
<suite name="Raisin Web Test Suite" parallel="classes" thread-count="3">
    <test name="Raisin tests">

        <parameter name="browser" value="chrome"/>
        <parameter name="os" value="mac"/>
        <classes>
            <class name="com.raisin.test.OfferTest"/>
            <class name="com.raisin.test.PartnerBankTest"/>
        </classes>
    </test>

</suite>